<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.paramadina.absensi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="id.ac.paramadina.absensi.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="id.ac.paramadina.absensi.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
			    <action android:name="android.nfc.action.TAG_DISCOVERED"/>
			</intent-filter>
        </activity>
        
        <activity
            android:name="id.ac.paramadina.absensi.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="id.ac.paramadina.absensi.CourseDetailActivity"
            android:label="@string/app_name" 
            android:parentActivityName="id.ac.paramadina.absensi.MainActivity" >
            
        </activity>
        
        <activity
            android:name="id.ac.paramadina.absensi.DiscoverTagActivity"
            android:label="@string/app_name" >
            <intent-filter>
			    <action android:name="android.nfc.action.TAG_DISCOVERED"/>
			</intent-filter>
        </activity>
        
        <activity 
            android:name="id.ac.paramadina.absensi.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="id.ac.paramadina.absensi.LoginActivity" >
            
        </activity>
        
    </application>

</manifest>
